<div class="p-3">
    <h3>Regisztrált felhasználók</h3>
    <hr>
    
    <table class="table table-striped table-hovered">
        <thead>
            <tr>
                <th>Felhasználó név</th>
                <th>E-mail cím</th>
                <th>Tel.</th>
                <th>Jog</th>
                <th>Állapot</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
          
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">Összesen: <strong>0</strong> felhasználó</td>
            </tr>
        </tfoot>
    </table>
</div>


<!-- Modal -->
<div class="modal fade " id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Felhasználó módosítása</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control" id="name" placeholder="Felhasználó neve">
            <label for="name">Felhasználó neve</label>
          </div>
          
          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control" id="email" placeholder="Email">
            <label for="email">E-mail cím</label>
          </div>

          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control" id="phone" placeholder="Telefonszám">
            <label for="phone">Telefonszám</label>
          </div>

          <div class="form-floating mb-3">
            <select class="form-select" id="role" aria-label="Role">
              <option value="user">user</option>
              <option value="admin">admin</option>
            </select>
            <label for="role">Jog</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="status" aria-label="Status">
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
            <label for="status">Állapot</label>
        </div>
  
        <label for="status">0 az aktív az 1 az inaktív</label>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
          <button type="button" id="editRecipeBtn" class="btn btn-primary" data-bs-dismiss="modal" onclick="updateUser()">Módosítás</button>
        </div>
      </div>
    </div>
  </div>
  