<div class="p-3">
    <h3>Login</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">E-mail address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="passwd" placeholder="Password">
        <label for="passwd">Password</label>
    </div>
    
    <button class="btn btn-primary mb-3" onclick="login()">Login</button>
</div>