<div class="p-3">
    <h3>Regisztráció</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Név">
        <label for="name">Név</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="E-mail cím">
        <label for="email">E-mail cím</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="passwd" placeholder="Jelszó">
        <label for="passwd">Jelszó</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Jelszó megerősítése">
        <label for="confirm">Jelszó megerősítése</label>
    </div>
    <button class="btn btn-primary mb-3" onclick="registration()">Registration</button>
</div>

