<div class="p-3">
  <div>
      <h3>Felhasználó statisztika</h3>
      <hr>
      <div class="row">

          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
              <div class="card m-2">
                  <div class="card-body">
                      <h5 class="card-title">Összes</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Receptek száma</h6>
                      <h2 class="card-text" id="total">0</h2>
                  </div>
              </div>
          </div>
          
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
              <div class="card m-2">
                  <div class="card-body">
                      <h5 class="card-title">Legkevesebb</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Legkevesebb kalória</h6>
                      <h2 class="card-text" id="min">0</h2>
                  </div>
              </div>
          </div>
          
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
              <div class="card m-2">
                  <div class="card-body">
                      <h5 class="card-title">Legtöbb</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Legtöbb kalória</h6>
                      <h2 class="card-text" id="max">0</h2>
                  </div>
              </div>
          </div>
          
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
              <div class="card m-2">
                  <div class="card-body">
                      <h5 class="card-title">Felhasználó</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">A felhasználó aki a legtöbb receptje van</h6>
                      <h2 class="card-text" id="user">0</h2>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <hr>
  <div class="lgdAdm">
      <h3>Admin statistics</h3>
      <hr>
      <div class="row">  
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card m-2">
              <div class="card-body">
                  <h5 class="card-title">Total</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">All user's total stepcounts</h6>
                  <h2 class="card-text" id="adm_total">0</h2>
              </div>
          </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card m-2">
              <div class="card-body">
                  <h5 class="card-title">Average</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">All user's avg stepcounts</h6>
                  <h2 class="card-text" id="adm_avg">0</h2>
              </div>
          </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card m-2">
              <div class="card-body">
                  <h5 class="card-title">Minimum</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">All user's min stepcounts</h6>
                  <h2 class="card-text" id="adm_min">0</h2>
              </div>
          </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card m-2">
              <div class="card-body">
                  <h5 class="card-title">Maximum</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">All user's max stepcounts</h6>
                  <h2 class="card-text" id="adm_max">0</h2>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>